<!doctype html>
<html>

    <% include ./partials/header %>

    <body>

        <div class="container content">
            <div class="col-xs-12 text-center">
                <h1 class="title">Plans tonight?</h1>
                <i class="fa fa-map-marker fa-3x"></i>
                <i class="fa fa-cab fa-3x"></i>
                <i class="fa fa-glass fa-3x"></i>
                <p>See which bars are hoppin' tonight and RSVP ahead of time!</p>
                <p>Remember: take a cab and drink responsible.</p>
            </div>

            <div class="col-xs-12 barContent">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <strong>
                                <td>&nbsp;</td>
                                <td>Name</td>
                                <td>Rating</td>
                                <td># Reviews</td>
                                <td>&nbsp;</td>
                            </strong>
                        </tr>
                    </thead>

                    <tbody>
                        <% for (var i = 0; i < results.businesses.length; i++) { %>
                            <tr>
                                <td><img src='<%- results.businesses[i].image_url %>' /></td>
                                <td><%- results.businesses[i].name %></td>
                                <td><%- results.businesses[i].rating %><br><img src='<%- results.businesses[i].rating_img_url %>' /></td>
                                <td><%- results.businesses[i].review_count %></td>
                                <td><br /><button class="btn btn-default">GOING</button></td>
                            </tr>
                        <% } %>

                    </tbody>
                </table>

            </div>

        </div>
    </body>
</html>